/*with help from: source https://stackoverflow.com/questions/30055630/align-checkboxes*/
input[type=checkbox] {
    vertical-align: middle;
    float: right;
}
label {
    display: block;
    overflow: hidden;
}

body {
    padding-top: 7rem;
    background-color: lightgrey;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
}

.column {
    flex: 50%;
    padding: 5px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Muli", sans-serif;
}

a {
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

.hover-th:hover{
    cursor: pointer;
    background-color: #606060;
}

