/*with help from: source https://stackoverflow.com/questions/30055630/align-checkboxes*/
input[type=checkbox] {
    vertical-align: middle;
    float: right;
}
label {
    display: block;
    overflow: hidden;
}

body {
    padding-top: 7rem;
    background-color: lightgrey;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
}

.column {
    flex: 50%;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 1px solid #ddd;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Muli", sans-serif;
}

a {
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

.hover-th:hover{
    cursor: pointer;
    background-color: #606060;
}

.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    z-index: 1;

}

.modal-content{

    background-color: #fefefe;
    margin: 15% auto;
    width: 13rem;
    padding: 0px 15px 15px 15px;
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-radius: 10px;


}
.modal-content h3{
    margin: 0 0 8px 0;
}

.modal-content input, .modal-content select{
    margin-bottom: 8px;
}