/*with help from: source https://stackoverflow.com/questions/30055630/align-checkboxes*/
input[type=checkbox] {
    vertical-align: middle;
    float: right;
}
label {
    display: block;
    overflow: hidden;
}

body {
    padding-top: 7rem;
    background-color: lightgrey;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Muli", sans-serif;
}

a {
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}


