
/*nav bar */
#nav-bar {
    background-color: #143c5a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}

#nav-bar .end{
    width: 18.75rem;
}

#nav-bar a {
    text-decoration: none;
}

#nav-bar div {
    display: flex;
}

#nav-bar p {
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: "Muli", sans-serif;
    text-decoration: none;

}

.logo {
    height: 4.69rem;
    width: 18.75rem;
}

/*With help from https://stackoverflow.com/questions/7849112/css-how-to-add-round-corners-when-hover-li-element/7849193*/
#nav-bar p:hover {
    background-color: mintcream;
    cursor: pointer;
    color: #143c5a;
    border-radius: 10px 10px 10px 10px;
}

body {
    padding-top: 7rem;
    background-color: lightgrey;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Muli", sans-serif;
}