.top-div{
    padding-left: 7.5%;
    display: flex;
    justify-content: space-around;


}

#shift-leader-div, #waiting-list-div{
    flex-grow: 1;
}
#procedure-tekst-div{
    flex-grow: 3;
    align-self: flex-end;
}

