.top-div {
    padding-left: 7.5%;
    display: flex;
    justify-content: space-around;
}

#shift-leader-div, #waiting-list-div {
    flex-grow: 1;
}


#waiting-list-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(620%, -50%);
}

#waiting-cases-green {
    color: green;
    text-align: center;
}

#waiting-cases-red {
    color: red;
    text-align: center;
}

#procedure-tekst-div {
    flex-grow: 3;
    align-self: flex-end;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: max-content;
    padding: 0 15px 15px 15px;
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-radius: 10px;
}

.modal-content h3 {
    margin: 0 0 8px 0;
}

.modal-content input, .modal-content select {
    margin-bottom: 8px;
}

.overview-modal {
    display: flex;
    gap: 10px;
}


[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

#procedure-text-div {
    font-family: "Muli", sans-serif, bolder;
    border: black solid 1px;
    font-size: 15pt;
    color: #c72929;
    cursor: text;
    margin: auto;
    background-color: #c2c0c0;
    width: 75rem;
    overflow: auto;
}

#new-waitlist-div {
    display: none;

}

.small-button{
    font-size: 9px;
    padding: 0;
    margin-top: 1px;
    border: none;
    background-color: white;
    font-weight: 800;
}